<?xml version="1.0" encoding="utf-8"?><manifest android:versionCode="479" android:versionName="0.8 Landry" package="michaels.spirit4android" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application android:icon="@drawable/icon" android:killAfterRestore="true" android:label="Spirit" android:restoreAnyVersion="true">
        <activity android:label="@string/app_name" android:name=".Spirit4AndroidActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="Spirit4Android - Lizenz" android:name="licenseActivity"/>
        <activity android:label="Spirit4Android - Home" android:name="mainActivity"/>
        <activity android:label="Spirit4Android - Nachrichten" android:name="newsActivity"/>
        <activity android:label="Spirit4Android - Einstellungen" android:name="settingsActivity"/>
        <activity android:label="Spirit4Android - Über" android:name="about"/>
        <receiver android:name="BootAlarmSetter" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <activity android:name="AlarmActivity" android:permission="android.permission.WAKE_LOCK" android:screenOrientation="portrait"/>
        <service android:name="AlarmService"/>
        <receiver android:label="Spirit" android:name="HSWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/hswidget"/>
        </receiver>

    </application>
</manifest>